
<div style="text-align:center">
    <h1>
      Camera Demo
    </h1>
  
    <div>
    <!-- https://stackoverflow.com/questions/49798649/angular-5-mobile-camera-capture-->
        
    <input type="file" capture="camera" accept="image/*" id="cameraInput" name="cameraInput" (change)="onFileSelected($event)"/>
        <input type="file" accept="image/png, image/jpeg" id="galleryInput" name="galleryInput" (change)="onFileSelected($event)"/>
        <button type="button" (click)="onUpload()">Upload File</button>
  </div>
  

